.SearchOutput {
  background-color: hsl(0 0% 100%);
  border: solid 1px hsl(0 0% 70%);
  border-radius: 0 0 6px 6px;
  border-top: none;
  display: block;
  margin-top: calc(-8px - 1px);
  padding: 0 12px;
  position: absolute;
}

.SearchOutputLine {
  background-color: hsl(0 0% 70%);
  border: none;
  height: 1px;
  margin: calc((-8px - 1px) * -1) 0 0 0;
}

.SearchOutputIcon {
  color: hsl(0 0% 70%);
  height: 1em;
  min-height: 1em;
  min-width: 1em;
  width: 1em;
}

.SearchOutputList {
  margin: 0;
  padding: 0;
}

.SearchOutputItem {
  align-items: center;
  display: flex;
  position: relative;
}

.SearchOutputLink {
  padding: 6px 12px;
  width: 100%;
}

.SearchOutputLink::before {
  bottom: 0;
  content: '';
  display: block;
  left: -12px;
  position: absolute;
  right: -12px;
  top: 0;
}

.SearchOutputTag {
  color: hsl(0 0% 70%);
  font-size: .85em;
}
