/* Should be moved to App.css */
.visibility-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  width: 1px;
}

/* Should be moved to App.css */
.reset-fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: .01em 0 0;
}

.Resources {
  composes: reset-fieldset;
}

.Legend {
  composes: visibility-hidden;
}

.Option {
  display: inline-block;
  position: relative;
}

.Option:not(:last-child) {
  margin-right: 6px;
}

.OptionIndicator {
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.OptionName {
  border-radius: 6px;
  display: block;
  font-size: .85em;
  padding: 6px 12px;
}

.OptionIndicator:hover + .OptionName,
.OptionIndicator:checked + .OptionName {
  background-color: hsl(0 0% 96%);
}
