.Details {
  grid-template-rows: min-content 1fr min-content;
}

.DetailsHeader {
  border-bottom: solid 1px hsl(0 0% 90%);
  column-gap: 32px;
  display: flex;
  padding: 12px 18px;
}

.DetailsSearch {
  padding-top: 16px;
}
